/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image-dark);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  font-family: var(--main-font),sans-serif;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--bsh-color);
  border-right: 1px solid var(--bsh-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--bsh-color);
  border-left: 1px solid var(--bsh-color);
  inline-size: 25px;
  block-size: 25px;
}

.rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: var(--text-bold-normal);
  font-size: var(--font-size-main);
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  top: 0;
  width: 9px;
  height: 9px;
  margin: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: #ff0070;
}

.header__theme-menu {
  padding-top: 76px;
  padding-right: 10px;
  text-align: end;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px 0 13px;
  color: var(--text-color-button);
  font-family: var(--main-font),sans-serif;
  font-size: var(--font-size-main);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-hover-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__title {
  padding: 65px 10px 0 10px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: var(--text-bold);
  font-size: var(--header-fz);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--header-bg-txt);
}

.content__mobile {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 20px;
}

.header__text {
  width: 100%;
  padding: 55px 10px 66px 10px;
}

.header__paragraph {
  color: var(--header-txt);
  font-family: var(--main-font),sans-serif;
  font-weight: var(--text-bold);
  font-size: var(--font-size-main);
  line-height: var(--text-lh);
  white-space: normal;
}

.section__title {
  color: var(--title-accent-color);
  font-family: var(--main-font),sans-serif;
  font-weight: var(--text-bold);
  font-size: var(--font-size-main);
  line-height: var(--text-lh);
}

.content__subtitle {
  color: var(--text-dark-title);
  font-family: var(--main-font),sans-serif;
  font-weight: var(--text-bold);
  font-size: var(--font-size-main);
  line-height: var(--text-lh);
}

.content__paragraph {
  padding-top: 9px;
  color: var(--text-dark-paragraph);
  font-family: var(--main-font),sans-serif;
  font-weight: var(--text-bold-normal);
  font-size: var(--font-size-main);
  line-height: var(--text-lh);
}

.section__difficult {
  width: 100%;
  padding: 40px 10px 0 10px;
}

.section__сoncentration, 
.section__variants {
  width: 100%;
  padding: 52.5px 10px 0 10px;
}

.question__subtitle {
  margin-bottom: 10px;
}

.section__img {
  width: 100%;
  padding: 52.5px 10px 0 10px;
}

.content-size__img {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 10px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shadow__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-accent-color);
  cursor: pointer;
}

.shadow__link:hover {
  border-bottom: 1px solid var(--dark-underline-link);
  cursor: pointer;
}

.shadow__link:focus {
  outline: none;
}

.shadow__link:focus-visible {
  border: 1px solid var(--link-border-dark);
}

.content__sky-subtitle-fw {
  font-weight: var(--text-bold-normal);
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  height: 100vh;
  min-height: 668px;
  margin-top: 40px;
  padding-top: 0px;
}

.footer__title {
  color: var(--title-color);
  font-family: var(--main-font),sans-serif;
  font-weight: var(--text-bold);
  font-size: var(--header-fz);
  line-height: 83%;
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {

  .page {
    padding: 10px 10px 0 0;
  }

  .decorated-zone::after {
    bottom: 30px;
    left: 20px;
  }

  .header {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: min-content min-content;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    grid-column: 2;
    padding: 183px 10px 0 0;
    
  }

  .header__theme-menu-list {
    row-gap: 12px;
  }

  .header-title__tablet {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 180px 0 0 0;
    font-size: var(--fz-header-title-tablet);
  }

  .header-text__tablet {
    grid-column: 2;
    padding: 160px 10px 0 5px;
  }

  .header__paragraph {
    min-inline-size: 364px;
  }

  .content__tablet {
   grid-template-columns: min-content 1fr;
  }
  
  .section__difficult {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 50px 10px 0 20px;
  }

  .section__title {
    min-width: 236px;
  }
  .content__dofamin {
    grid-column: 2;
  }

  .section__сoncentration {
    padding: 83px 10px 0 20px;
  }
 
  .сoncentration__title {
    width: calc(236px - 50%);
  }

  .section__variants {
    grid-template-columns: min-content 1fr;
    padding: 83px 10px 0 20px;
  }

  .section__variants-location {
    grid-column: 2;
  }

  .title__interval {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section__img {
    padding: 80px 10px 0 20px;
  }

  .question__subtitle {
    margin-bottom: 20px;
  }

  .content-size-img__tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset__img {
    grid-column: 1/3;
  }

  .ice-cream__img {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tape__img {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .books__img {
    grid-column: 2;
  }

  .street__img {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer {
    grid-template-columns: 1fr;
    min-height: 1024px;
    margin-top: 68px;
    padding-top: 5px;
  }

  .footer__title {
    padding: 0 0 20px 10px;
    font-size: var(--fz-header-title-tablet);
  }

}

@media (width >= 1024px) {

  .header {
    padding-top: 10px;
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 0;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    justify-content: center;
  }

  .header__title {
    padding-top: 275px;
  }

  .header__text-desktop {
    padding-top: 114px;
  }

  .section__title {
    min-width: 314.96px;
  }


  .section__сoncentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .сoncentration__title {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .footer {
    min-height: 768px;
  }
}

/*Доброго дня. Тест ругается на браузерные отступы в body хотя я не понял в чем прикол, прописал. По разрешениям с mob - desktop норм вроде
с переключением тем там намудрил, вроде исправил */